service cloud.firestore {

  function isSignedIn() {
    return request.auth.uid != null
  }

  match /databases/{database}/documents {
    match /userMetas/{id} {
      allow read: if isSignedIn();
      allow update: if request.auth.token.isAdmin;
    }
    match /bookings/{id} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    match /drivers/{id} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    match /buses/{id} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
    match /groups/{id} {
      allow read: if isSignedIn();
      allow write: if isSignedIn();
    }
  }
}