service cloud.firestore {

  function isSignedIn() {
    return request.auth.uid != null
  }
  function isAdmin() {
    return request.auth.token.isAdmin
  }

  match /databases/{database}/documents {
    match /userMetas/{id} {
      allow read: if (id == request.auth.uid) || isAdmin()
      allow update: if isAdmin()
    }
    match /bookings/{id} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
    match /drivers/{id} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
    match /buses/{id} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
    match /groups/{id} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
    match /tours/{id} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
    match /pickUpLocations/{id} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }
  }
}