.AddModalForm {
  flex-grow: 1;
  padding: 18px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
.AddModalForm > * + * {
  margin-top: 12px;
}
.AddModalForm button {
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: auto;
}
.AddModalForm label {
  display: flex;
  justify-content: space-between;
}
.AddModalForm label span {
  width: 124px;
}
.AddModalForm label input,
.AddModalForm label div,
.AddModalForm label select {
  width: 314px;
}
.AddModalForm input,
.AddModalForm select {
  width: 100%;
}
.AddModalForm .buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: auto;
}
@media only screen and (max-width: 600px) {
  .AddModalForm label {
    flex-direction: column;
  }
}