.dashboard {
  display: flex;
  flex-direction: column;
}

.dashboard .header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dashboard h2 {
  display: flex;
  justify-content: flex-start;
}
.dashboard h2 > button {
  margin-left: 12px;
}
.dashboard .dropdownAside {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}
.dashboard .dropdownAside .paxCount {
  margin-left: 12px;
}

.dashboard .pickUpContainer {
  display: flex;
  flex-direction: column;
  background: var(--default-color-alpha02);
  padding: 12px;
}
.dashboard .pickUpContainer + .pickUpContainer {
  margin-top: 12px;
}
.dashboard .pickupHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard .pickupHeader h3 {
  flex-grow: 1;
}
.dashboard .pickupHeader > span {
  padding: 0 12px;
  display: flex;
  align-items: center;
}
.dashboard .pickUpContainer table {
  margin-left: 12px;
  table-layout: fixed;
}
.dashboard .pickUpContainer table tr td:nth-child(1) {
  width: 48px;
}
.dashboard .pickUpContainer table tr td:nth-child(2) {
  width: 20%;
}
.dashboard .pickUpContainer table tr td:nth-child(3) {
  width: 5%;
}
.dashboard .pickUpContainer table tr td:nth-child(4) {
  width: 20%;
}
.dashboard .pickUpContainer table tr td:nth-child(5) {
  text-align: left;
  width: 20%;
}
.dashboard .pickUpContainer table tr td:nth-child(6) {
  width: 25%;
}
.dashboard .pickUpContainer table select {
  width: 100%;
}
