@media screen {
  .App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.App.Unauthorized {
  justify-content: center;
  align-items: center;
}
