.ModalForm {
  flex-grow: 1;
  padding: 18px;
  display: flex;
  flex-direction: column;
  min-height: 300px;
}
.ModalForm > * + * {
  margin-top: 12px;
}
.ModalForm button {
  align-self: flex-end;
  justify-self: flex-end;
  margin-top: auto;
}
.ModalForm label {
  display: flex;
  justify-content: space-between;
}
.ModalForm label span {
  width: 124px;
}
.ModalForm label input,
.ModalForm label div,
.ModalForm label select {
  width: 314px;
}
.ModalForm input,
.ModalForm select {
  width: 100%;
}
.ModalForm .buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: auto;
}
.ModalForm .buttonRow .submitError {
  color: var(--tangerine);
  max-width: 360px;
  padding-right: 12px;
  overflow: scroll;
}
@media only screen and (max-width: 600px) {
  .ModalForm label {
    flex-direction: column;
  }
}
