.Svg.Fill-munsell {
  fill: var(--munsell);
}
.Svg.Fill-white {
  fill: white;
}
.Svg.Fill-tangerine {
  fill: var(--tangerine);
}
.Svg.Stroke-white {
  stroke: var(--white);
}
.Svg.Stroke-munsell {
  stroke: var(--munsell);
}
.Svg.Stroke-tangerine {
  stroke: var(--tangerine);
}
.Svg.Size-small {
  height: 18px;
  width: 18px;
}
.Svg.Size-medium {
  height: 24px;
  width: 24px;
}
.Svg.Size-large {
  height: 36px;
  width: 36px;
}
.Svg.Size-xLarge {
  height: 48px;
  width: 48px;
}
